variables:
  CACHE_PREFIX: "julia-env-cache"

.test_template: &test_definition
  script:
    - |
      julia --project=@. -e '
        using Pkg
        Pkg.build()
        Pkg.test(coverage=true)'
    - | 
      julia -e 'using Pkg; Pkg.add("Coverage"); 
      import Corleone; cd(joinpath(dirname(pathof(Corleone)), ".."));
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  cache: 
    key:
      files: 
        - Project.toml 
        - Manifest.toml
      prefix: "${CACHE_PREFIX}-test"
    paths:
      - .julia/artifacts
      - .julia/packages
      - .julia/compiled



test:1.10:
  image: julia:1.10 
  <<: *test_definition



