/*-- scss:defaults --*/

// Colors
//$dark-green: #858E79;
$light-blue: #77AADD;
$light-cyan: #99DDFF;
$mint: #44BB99;
$pear: #BBCC33;
$olive: #AAAA00;
$light-yellow: #EEDD88;
$orange: #EE8866;
$pink: #FFAABB;
$pale-grey: #DDDDDD;

// Base document colors
$navbar-fg: $light-blue; // navbar foreground elements
$navbar-hl: $light-blue; // highlight color when hovering over navbar links
$link-color: $light-blue; // hyperlinks 

// Inline code
//$code-bg: $cream; // inline code background color
//$code-color: $purple; // inline code text color
